
<div class="bg-dark mt-5 container rounded-4 p-5">
<app-student-form [student]="student" (saveEvent)="onSaveEvent($event)" (cleanEvent)="onCleanEvent()"></app-student-form>
<table class="table table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
      <th scope="col">Endereço</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.cpf}}</td>
      <td>{{student.location}}</td>
      <td>
        <button class="btn btn-warning me-2" (click)="edit(student)">Editar</button>
        <button class="btn btn-danger"  (click)="delete(student)" >Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
