
<div class="bg-dark mt-5 container rounded-4 p-5">
<app-estudant-form [Estudant]="Estudant" (saveEvent)="onSaveEvent($event)" (cleanEvent)="onCleanEvent()"></app-estudant-form>
<table class="table table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
      <th scope="col">Endereço</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudant of Estudants">
      <th scope="row">{{estudant.id}}</th>
      <td>{{estudant.name}}</td>
      <td>{{estudant.email}}</td>
      <td>{{estudant.cpf}}</td>
      <td>{{estudant.location}}</td>
      <td>
        <button class="btn btn-warning me-2" (click)="edit(estudant)">Editar</button>
        <button class="btn btn-danger"  (click)="delete(estudant)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
